@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color:#fb9333;
    --secundary-color:#ffc87a;
    --bg-color:#fff6ea;
    --text-color:#585858;

    --big-font:4.3rem;
    --h2-font:2.2rem;
    --p-font:1rem;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 17px 11%;
    border-bottom: 1px solid var(--secundary-color);
    transition: all .45s ease;
}
.logo img{
    width: 100%;
    height: auto;
}
.navbar {
    display: flex;
}
.navbar a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 400;
    padding: 8px 20px;
    margin: 0 5px;
    background: transparent;
    border-radius: 20px;
    transition: all .45s ease;
}
.navbar a:hover{
    background: var(--primary-color);
}
.navbar a.active{
    background: var(--primary-color);
}