@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}

span {
    color: var(--primary-color);
}

:root {
    --primary-color: #fb9333;
    --secundary-color: #ffc87a;
    --bg-color: #fff6ea;
    --text-color: #585858;

    --big-font: 4.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}

body {
    background: #fff;
}

/* Styles Header Section */
header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 17px 12%;
    border-bottom: 1px solid var(--secundary-color);
    transition: all .45s ease;
}

header.sticky {
    background: #fff;
    padding: 14px 11%;
}

.logo img {
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 400;
    padding: 6px 20px;
    margin: 0 5px;
    background: transparent;
    border-radius: 20px;
    transition: all .45s ease;
    cursor: pointer;
}

.navbar a:hover {
    background: var(--primary-color);
    color: #fff;
}

.navbar a.active {
    background: var(--primary-color);
}

#menu-icon {
    color: var(--primary-color);
    font-size: 33px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.header-btn {
    background: var(--primary-color);
    font-size: var(--p-font);
    color: #fff;
    font-weight: 400;
    padding: 6px 20px;
    margin: 0 5px;
    border-radius: 20px;
    transition: all .45s ease;
    border: none;
    transition: all .45s ease;
    cursor: pointer;
}

.header-btn:hover {
    background: transparent;
    color: var(--primary-color);
}


/* Styles Home Section */
section {
    padding: 100px 10% 100px;
}

.home {
    height: 100vh;
    width: 100%;
    background: #f7f7f6d4;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-img img {
    width: 100%;
    height: auto;
    padding-top: 45px;
}

.home-text-inicio {
    color: var(--primary-color);
    background: #FFF0DC;
    width: 213px;
    height: 53px;
    margin-bottom: 10px;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.home-text h1 span {
    color: #FB9333;

}

.home-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    letter-spacing: -0.02em;

    margin-bottom: 10px;
}

.home-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;

    letter-spacing: -0.02em;

    color: #828282;
    margin-bottom: 10px;
}

.home a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 14px;
    gap: 16px;
    margin-bottom: 10px;
    margin-top: 12px;
    width: 142px;
    height: 38px;

    /* #FB9333 */

    background: #FB9333;
    border-radius: 100px;
    transition: all .45s ease;
}

.btn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.home-static {
    display: flex;
    align-items: center;
}

.home-static-conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 3rem;
    padding-top: 10px;
}

.home-static h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #575757;
}

.home-static p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */


    color: #828282;
}

/* Styles Menu Section */
section {}

.menu {}

.menu-text {
    /* height: 80vh;
    width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.menu-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;

    letter-spacing: -0.02em;
    color: #585858;
}

.menu-text span {
    color: var(--primary-color);
}

.menu-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;

    letter-spacing: -0.02em;
    color: #828282;
}

.menu-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    height: 95vh;
    width: 80vw;

    background: #fffafa;
    border: 1px solid #FFF0DA;
    border-radius: 30px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    gap: 3.5rem;

    width: 350px;
    height: 550px;

    background: #f0efeed4;

    box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
    border-radius: 30px;

    transition: all .45s ease;
}

.menu-card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #fff;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 50px 80px -30px rgba(17, 12, 0, 0.2);
    border-radius: 50px;
}


.menu-card h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: -0.02em;
}

.menu-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */

    letter-spacing: -0.02em;

    /* #575757 */

    color: black;
}

.menu-card a {
    color: var(--primary-color);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* identical to box height, or 29px */

    letter-spacing: -0.02em;
}

.menu-card-btn {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    width: 170px;
    height: 49px;

    align-items: flex-end;
    padding-top: 10px;

    transition: all .20s ease;
}

.menu-card-btn:hover {
    background: #FFE8C8;
    color: black;
    font-weight: 400;
    border-radius: 12px;
}

/* Styles Abou us Section */
.about {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 3rem;
    align-items: center;
    width: 90%;
    height: 100vh;
    background: #FFF6EA;
    border-radius: 22px;
}

.about-geral {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.about-text h3 {
    width: 415px;
    height: 128px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    /* or 133% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #333333;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-text p {
    width: 400px;
    height: 72px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #999999;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 20px;
}

.about-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.about-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 50vh;
    padding: 13px;


    width: 269px;
    height: 402px;
    left: 0px;
    top: 40px;

    border-radius: 20px;
    transition: all .45s ease;
}

.about-card:hover {
    background: var(--secundary-color);
}

.about-card img {

    width: 90px;
    height: 90px;
    left: 623px;
    /* top: 0px; */

    border-radius: 8px;
}

.about-card h4 {
    width: 181px;
    height: 32px;
    left: 24px;
    top: 162px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.about-card h5 {
    width: 155px;
    height: 21px;
    left: 24px;
    top: 202px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Text/Default in Field */

    color: #999999;

}

.about-card p {
    width: 221px;
    height: 168px;
    left: 24px;
    top: 242px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    letter-spacing: -0.02em;

    /* #575757 */

    color: #575757;
}

/* Styles Products Section */
.products-geral {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem
}

.products-text h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;

    text-align: center;
    letter-spacing: -0.02em;

    color: var(--primary-color);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.products-text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 10px;

    text-align: center;
    letter-spacing: -0.02em;

    color: #585858;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.products-cards {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.product-card-01 {
    background-image: url(../img/products-img-01.png);
    width: 363.33px;
    height: 521px;
    left: 0px;
    top: 0px;
    transition: all .45s ease;
}

.product-card-01:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product-card-01 h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    padding-top: 420px;
    padding-left: 10px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.product-card-02 {
    background-image: url(../img/products-img-02.png);
    width: 363.33px;
    height: 521px;
    left: 0px;
    top: 0px;
    transition: all .45s ease;
}

.product-card-02:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product-card-02 h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    padding-top: 420px;
    padding-left: 10px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.product-card-03 {
    background-image: url(../img/products-img-03.png);
    width: 363.33px;
    height: 521px;
    left: 0px;
    top: 0px;
    transition: all .45s ease;
}

.product-card-03:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product-card-03 h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    padding-top: 420px;
    padding-left: 10px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* Styles Subscribe Section */
.subscribe-geral {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: auto;
    height: 550px;
    left: 0px;
    top: 0px;

    background: #FFF1DE;
    border-radius: 50px;
}

.subscribe-text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    letter-spacing: -0.02em;


    color: var(--primary-color);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subscribe-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */

    text-align: center;
    letter-spacing: -0.02em;

    color: #585858;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.subscribe-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    text-align: center;
    letter-spacing: -0.02em;

    /* #575757 */

    color: #575757;

    opacity: 0.7;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.subscribe-email form {
    padding-top: 20px;
    margin: auto;
    position: relative;
    width: 550px;
    max-width: 100%;
}

.subscribe-email form input:first-child {

    display: inline-block;
    width: 100%;
    padding: 18px 130px 16px 15px;
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 30px;
}

.subscribe-email form input:last-child {
    padding-top: 20px;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 16px 30px;
    border-radius: 30px;
    background: var(--primary-color);
    color: white;

    right: 2px;
    cursor: pointer;
}