@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

span {
    color: var(--primary-color);
}

:root {
    --primary-color: #fb9333;
    --secundary-color: #ffc87a;
    --bg-color: #fff6ea;
    --text-color: #585858;

    --big-font: 3.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}


/* Inicio Header */
header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 18%;
    z-index: 1000;
    transition: all .35s ease;
}

.logo img {
    max-width: 100%;
    width: 130px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;

}

.navbar a {
    font-size: var(--p-font);
    color: var(--text-color);
    padding: 20px 28px;
    font-weight: 700;
    transition: all .35s ease;
}

.navbar a:hover {
    color: var(--primary-color);
}

.navbar a .active {
    color: var(--primary-color);
}

#menu-icon {
    color: var(--text-color);
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.header-btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 2px 16px;
    border-radius: 16px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    transition: all .35s ease;
    cursor: pointer;
}

.header-btn:hover {
    background: #fff;
    color: var(--primary-color);
}

header.sticky {
    background: #fff;
    padding: 12px 18%;
    box-shadow: 0px 0px 1px #13084982;
}


/* Configurações de SECTION */
section {
    padding: 80px 18%;
}


/* Inicio section Home */
.home {
    background: #faf4ee;
    height: 90vh;
    width: 100%;
    padding-top: 130px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 3rem;
}

.home-text h4 {
    color: var(--primary-color);
    background: #FFF0DC;
    width: 213px;
    height: 53px;
    margin-bottom: 10px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    padding: 16px;
}

.home-text h1 {
    margin: 20px 0px 20px;
    font-size: var(--big-font);
    line-height: 1.1;
}

.home-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: var(--p-font);
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #828282;
    margin-bottom: 10px;
}

.home-btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 6px 16px;
    border-radius: 16px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    transition: all .35s ease;
    cursor: pointer;
}

.home-btn:hover {
    background: #fff;
    color: var(--primary-color);
}

.home-static {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-top: 30px;
    align-items: center;
    text-align: center;
}

.home-img img {
    width: 100%;
    height: auto;
}

/* Inicio section Menu */

.menu-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.menu-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: var(--h2-font);
    line-height: 140%;

    letter-spacing: -0.02em;
    color: #585858;
}

.menu-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: var(--p-font);
    line-height: 180%;

    letter-spacing: -0.02em;
    color: #828282;
}

.menu-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 80px;
    background: #fffafa;
    border: 1px solid #FFF0DA;
    border-radius: 30px;
    text-align: center;

    height: 95vh;
    width: 100%;
}

.menu-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    gap: 3.5rem;
    text-align: start;
    width: 250px;
    height: 550px;

    background: #fff;

    box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
    border-radius: 12px;

    transition: all .45s ease;
}

.menu-card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #faf4ee;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 50px 80px -30px rgba(17, 12, 0, 0.2);
    border-radius: 12px;
}

.menu-card h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: var(--p-font);
    line-height: 180%;
    letter-spacing: -0.02em;
}

.menu-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */

    letter-spacing: -0.02em;

    /* #575757 */

    color: black;
}

.menu-card a {
    color: var(--primary-color);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;

    letter-spacing: -0.02em;
}

.menu-card-btn {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    width: 170px;
    height: 49px;

    align-items: flex-end;
    padding-top: 10px;

    transition: all .20s ease;
}

.menu-card-btn:hover {
    background: #FFE8C8;
    color: black;
    font-weight: 400;
    border-radius: 12px;
}

/* Inicio section About */
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 3rem;

    background: linear-gradient(180deg, #FFF6EA 0%, rgba(255, 232, 199, 0.5) 100%);
}

.about-text h3 {
    width: 415px;
    height: 128px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #333333;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-text p {
    width: 400px;
    height: 72px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 150%;

    color: #999999;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 20px;
}

.about-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.about-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 50vh;
    padding: 13px;


    width: 269px;
    height: 402px;
    left: 0px;
    top: 40px;

    border-radius: 20px;
    transition: all .45s ease;
}

.about-card:hover {
    background: var(--secundary-color);
    transform: translateY(-5px);
    cursor: pointer;
    color: var(--text-color);
}

.about-card h4 {
    width: 181px;
    height: 32px;
    left: 24px;
    top: 162px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.about-card h5 {
    width: 155px;
    height: 21px;
    left: 24px;
    top: 202px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Text/Default in Field */

    color: #999999;

}

.about-card p {
    width: 221px;
    height: 168px;
    left: 24px;
    top: 242px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 24px */

    letter-spacing: -0.02em;

    /* #575757 */

    color: #575757;
}

/* Inicio section Products */

.products-geral {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem
}

.products-text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: var(--p-font);
    line-height: 180%;

    text-align: center;
    letter-spacing: -0.02em;

    color: var(--primary-color);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.products-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: var(--h2-font);
    line-height: 140%;
    margin-bottom: 10px;

    text-align: center;
    letter-spacing: -0.02em;

    color: #585858;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.products-cards {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.product-card-01 {
    background-image: url(../img/products-img-01.png);
    width: 363.33px;
    height: 521px;
    left: 0px;
    top: 0px;
    transition: all .45s ease;
}

.product-card-01:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product-card-01 h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    padding-top: 420px;
    padding-left: 30px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.product-card-02 {
    background-image: url(../img/products-img-02.png);
    width: 363.33px;
    height: 521px;
    left: 0px;
    top: 0px;
    transition: all .45s ease;
}

.product-card-02:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product-card-02 h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    padding-top: 420px;
    padding-left: 30px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.product-card-03 {
    background-image: url(../img/products-img-03.png);
    width: 363.33px;
    height: 521px;
    left: 0px;
    top: 0px;
    transition: all .45s ease;
}

.product-card-03:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product-card-03 h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    padding-top: 420px;
    padding-left: 30px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* Inicio section Subscribe */
.subscribe-geral {

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: auto;
    height: 550px;
    left: 0px;
    top: 0px;

    background: #FFF1DE;
    border-radius: 50px;
}

.subscribe-text {
    padding: 40px;
}

.subscribe-text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    letter-spacing: -0.02em;

    color: var(--primary-color);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subscribe-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: var(--h2-font);
    line-height: 140%;

    text-align: center;
    letter-spacing: -0.02em;

    color: #585858;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.subscribe-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;

    text-align: center;
    letter-spacing: -0.02em;
    padding-top: 10px;


    color: #575757;

    opacity: 0.7;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.subscribe-email form {
    padding-top: 20px;
    margin: auto;
    position: relative;
    width: 550px;
    max-width: 100%;
    padding-top: 50px;
}

.subscribe-email form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 18px 130px 16px 15px;
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 30px;
}

.subscribe-email form input:last-child {
    padding-top: 20px;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 16px 30px;
    border-radius: 30px;
    background: var(--primary-color);
    color: white;

    right: 2px;
    cursor: pointer;
}

/* Inicio section Contact */

section {
    padding: 80px 11%;
}

.contact-geral {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;

    width: 100%;
    margin: auto;
    height: 290px;
    left: 0px;
    top: 0px;
    padding: 20px 20px;

    border: 1px solid #FB9333;
    border-radius: 10px;
}

.contact-logo p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 160%;

    padding-top: 20px;

    color: #575757;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact-logo h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 150%;
    padding-top: 90px;

    color: #2B2B2B;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.contact-feature {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 40px;
    transition: all .45s ease;
}

.contact-feature a:hover {
    color: var(--primary-color);
    font-weight: 600;

}

.contact-feature h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #FB9333;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact-lista {
    width: 35px;
    height: 22px;
    left: 0px;
    top: 47px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #575757;
    cursor: pointer;
}

.contact-getIn {
    display: flex;
    flex-direction: column;
    gap: 8px;


}

.contact-getIn h4 {
    color: var(--primary-color);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* margin-bottom: 20px; */

    font-feature-settings: 'pnum' on, 'lnum' on;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ri-map-pin-line {
    color: var(--primary-color);
    font-size: 22px;
}

.ri-mail-line {
    color: var(--primary-color);
    font-size: 22px;
}

.ri-phone-line {
    color: var(--primary-color);
    font-size: 22px;
}

.contact-getIn p {
    width: 197px;
    height: 48px;
    left: 60px;
    top: 46px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #575757;
}

.contact-midias {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    transition: all .25s ease;
}

.contact-icons a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.4);
}

.ri-twitter-line {
    color: var(--primary-color);
    font-size: 32px;
}

.ri-linkedin-box-fill {
    color: var(--primary-color);
    font-size: 32px;
}

.ri-instagram-line {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-midias p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #575757;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Section Footer  */
footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer h3 {
    font-size: 18px;
    color: var(--secundary-color);
    font-weight: 400;
}

/* Section Responsividade */
@media (max-width: 1640px) {
    .home {
        height: 120vh;
        padding-top: 100px;
        margin-bottom: 80px;
    }

    header {
        padding: 14px 3%;
        transition: .3s;
    }

    header.sticky {
        padding: 10px 3%;
        transition: .3s;
    }

    section {
        padding: 70px 3%;
        transition: .3s;
    }
}

@media (max-width: 1110px) {
    #menu-icon {
        display: block;
    }

    .header-btn {
        display: none;
    }

    .navbar {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #fff;
        align-items: flex-start;
        box-shadow: 0px 0px 1px #13084982;
    }

    .navbar a {
        display: block;
        padding: 0.8rem;
        margin: 0.5rem;
    }

    .navbar.open {
        top: 100%;
    }
}

@media (max-width: 1090px) {
    :root {
        --big-font: 3.7rem;
        --h2-font: 2.6rem --p-font: 1rem;
        transition: .3s;
    }
}

@media (max-width: 860px) {
    .home {
        height: 75vh;
        padding-top: 100px;
    }

    section {
        padding: 80px 3%;
    }

    :root {
        --big-font: 3.2rem;
        --h2-font: 2.2rem
    }
}

@media (max-width: 760px) {
    .home {
        grid-template-columns: 1fr;
        height: 100vh;
        grid-gap: 1rem;
    }

    .home-text {
        text-align: center;
    }

    /* .home-text a {
        text-align: center;
    } */

    .home-text h4 {
        margin: auto;
    }

    .home-static {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .home-img {
        text-align: center;
    }

    .home-img img {
        width: 400px;
        max-width: 100%;
        height: auto;
        margin-bottom: 300px;
    }

    .menu {
        padding-top: 350px;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .menu-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .menu-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 1rem;
        height: 100vh;
        margin-bottom: 500px;
    }
    /* .menu-card {

    } */
    .about {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
    }
    .about-cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .products {
        display: flex;
        flex-direction: column;
    }
    .products-cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}